@import "client/theme/theme";

.background {
  border-radius: $border-radius;
  filter: brightness(80%);
}
.cardImage {
  z-index: 2;    
  position: relative;
  left: 30px;
  bottom: 35px;
}
.darkCardBackground{
  background-color:unset!important;
  background-image:unset!important;
}
.upOnHover:hover {
  transition: all 0.4s;
  transform: translateY(-10px);
}